@media screen and (max-width: 1100px) {
  .tarjeta {
    width: 20%;
  }
}
@media screen and (max-width: 990px) {
  .tarjeta {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .tarjeta {
    width: 35%;
  }
}
@media screen and (max-width: 690px) {
  .tarjeta {
    width: 45%;
  }
}
@media screen and (max-width: 595px) {
  .tarjeta {
    width: 55%;
  }
}

@media screen and (max-width: 428px) {
  .logo-pokemon {
    width: 100px;
  }
  input.src {
    height: 20px;
    font-size: 10px;
    width: 154px;
    margin-left: 25px;
  }
  .btn img {
    width: 22px;
    height: 22px;
  }
  .ash-pika {
    width: 100px;
  }
  .chariz {
    width: 150px;
  }
  .charge {
    font-size: 25px;
  }
  .tarjeta {
    width: 100%;
  }
}
